/* composant Header et Nav */
header {
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header__div-container, .header__nav-container {
    height: 50px;
    width: 100%;
}

.header__div-container{
    display: flex;
    justify-content: flex-end;
}

/* composant contact */
.header__p-contact{
    width: 290px;
}

/* composant connexion */
.header__a-connexion{
    inline-size: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a__div-icon{
    width: 25px;
    height: 25px;
}
.header__img-connexion, .header__img-panier{
    height: 25px;
}

/* composant panier */
.header__a-panier{
    inline-size: 150px;
    background-color: #E38964;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}

/* composant Nav */

.nav__ul-state{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}
.header__nav-li{
    padding: 0 25px;
    height: 50px;
    display: flex;
    align-items: center;
}

.header__nav-a{
    text-decoration: none;

}

/* composant mobil-button */
.header__button-burger{
    display: none;
}

/* action navbar media query */
.header__nav-mobile{
    display: none;
}

.header__nav-mobile{
    display: flex;
}

.header__header-mobile{
    height: 100vh;
}

.main__main-noMobil, .footer_footer-noMobil, .header__div-burger{
    display: none;
}


/* media query */
@media (max-width: 770px) {
    .header__nav-container, 
    .header__div-connexion,
    .header__div-panier,
    .header__p-contact{
        display: none;
    }  

    .header__div-burger{
        width: calc(100% - 300px);
        min-width: 50px;
        display: flex;
    }

    .header__button-burger{
        width: 50px;
        height: 50px;
        display: block;
        background-color: red;
    }
}